{% extends 'base2.html' %}

{% block content %}
<p>{{ message }}</p></br>
    <form action="" method="POST">
        {% csrf_token %}

        <div class='form-row'>
            <div class="form-group col-1">
                <label>{{ form.name.label}}</label>
                {{form.name}}
            </div>
            <br>
            <div class="form-group col-2">
                <label>{{ form.location.label}}</label>
                {{form.location}}
            </div>

            <div class="form-group col-3" >
                <input type="submit" class="btn btn-success" style="margin-top:30px;" value="儲存">
            <div>
        </div>
    </form>

    <table class="table_list">
        <thead class="thead">
            <tr>
                <th>客戶名</th>
                <th>居住地</th>
            </tr>
        </thead>
        
        <tbody class="tbody">
            {% for cus in customer %}
            <tr>
                <td>{{ cus.name }}</td>
                <td>{{ cus.location }}</td>
                <td class="button">
                    <a href="{% url 'Update' cus.id %}" class="btn-btn-info"><input type="button" value=修改></a>
                    <a href="{% url 'Delete' cus.id %}" class="btn-btn-danger"><input type="button" value=刪除></a>
                    <a href="{% url 'Communication' cus.id %}" class="btn-btn-danger"><input type="button" value=新增詳細資料></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}